#gxine_info*,
#gxine_time* {
    background-color: black;
    color:            #4e4eff;
}

#gxine_info*:active,
#gxine_time*:active {
    color:            #aa3434;
}

#gxine_info_small,
#gxine_time_small {
    font-size:        8pt;
}

#gxine_info_large,
#gxine_time_large {
    font-weight:      bold;
    font-size:        12pt;
}

#gxine_js_edit {
    font-family: "mono";
}

/* rc buttons */

#gxine_button_red {
    color:            black;
    background-color: #ee2222;
}
#gxine_button_red:active {
    background-color: #ff9999;
}
#gxine_button_red:hover {
    background-color: #ff5d5d;
}
#gxine_button_red:selected {
    background-color: #ee2222;
}
#gxine_button_red:disabled {
    color:            #555555;
    background-color: #aa5555;
}

#gxine_button_yellow {
    color:            black;
    background-color: #dddd00;
}
#gxine_button_yellow:active {
    background-color: #eeee88;
}
#gxine_button_yellow:hover {
    background-color: #eeee55;
}
#gxine_button_yellow:selected {
    background-color: #dddd00;
}
#gxine_button_yellow:disabled {
    color:            #555555;
    background-color: #aaaa55;
}

#gxine_button_green {
    color:            black;
    background-color: #00ee00;
}
#gxine_button_green:active {
    background-color: #88ff88;
}
#gxine_button_green:hover {
    background-color: #55ff55;
}
#gxine_button_green:selected {
    background-color: #00ee00;
}
#gxine_button_green:disabled {
    color:            #555555;
    background-color: #55aa55;
}

#gxine_button_blue {
    color:            black;
    background-color: #0088ee;
}
#gxine_button_blue:active {
    background-color: #88ccff;
}
#gxine_button_blue:hover {
    background-color: #55aaff;
}
#gxine_button_blue:selected {
    background-color: #0088ee;
}
#gxine_button_blue:disabled {
    color:            #555555;
    background-color: #5588aa;
}

/*
  TODO
 */
/*
  Makes the full-screen toolbar have a dark background.
  Remove / * * / to activate.
*/
/*
style "fs_toolbar"
{
  fg[NORMAL]	  = "#eeeeee"
  fg[ACTIVE]	  = "#ffffff"
  fg[PRELIGHT]	  = "#ffffff"
  fg[SELECTED]	  = "#ffffff"
  fg[INSENSITIVE] = "#aaaaaa"
  bg[NORMAL]	  = "#222222"
  bg[ACTIVE]	  = "#222222"
  bg[PRELIGHT]	  = "#222222"
  bg[SELECTED]	  = "#222222"
  bg[INSENSITIVE] = "#222222"

  text[NORMAL]	  = "#eeeeee"
  text[ACTIVE]	  = "#ffffff"
  text[PRELIGHT]  = "#ffffff"
  text[SELECTED]  = "#ffffff"
  text[INSENSITIVE] = "#aaaaaa"
  base[NORMAL]	  = "#222222"
  base[ACTIVE]	  = "#222222"
  base[PRELIGHT]  = "#222222"
  base[SELECTED]  = "#222222"
  base[INSENSITIVE] = "#222222"
}

style "fs_button"
{
  bg[NORMAL]	  = "#333333"
  bg[ACTIVE]	  = "#555555"
  bg[PRELIGHT]	  = "#666666"
  bg[SELECTED]	  = "#444444"
  bg[INSENSITIVE] = "#222222"
}

style "fs_slider"
{
  fg[NORMAL]	  = "#444444"
  fg[ACTIVE]	  = "#444444"
  fg[PRELIGHT]	  = "#444444"
  fg[SELECTED]	  = "#444444"
  fg[INSENSITIVE] = "#444444"
  bg[NORMAL]	  = "#444444"
  bg[ACTIVE]	  = "#111111"
  bg[PRELIGHT]	  = "#555555"
  bg[SELECTED]	  = "#444444"
  bg[INSENSITIVE] = "#444444"
}

style "fs_toolbar_info" = "gxine_info"
{
  bg[NORMAL]	= "#222222"
}

style "fs_toolbar_time" = "gxine_time"
{
  bg[NORMAL]	= "#222222"
}

widget "fs_toolbar" style "fs_toolbar"
widget "fs_toolbar.*.gxine_*" style "fs_toolbar_info"
widget "fs_toolbar.*.controls*" style "fs_toolbar"

widget "fs_toolbar.*.controls.*Button" style "fs_button"
widget "fs_toolbar.*.controls.*HScale" style "fs_slider"
*/
